.profile{
    --background:none !important;

    & > ion-avatar{
        margin-right: 10px;
    }
}
.profile::part(native){
    padding-left: 0;
}

.notifyicon{
    width: 40px;
}
ion-header{
    background: #141a1f;
}

ion-header > ion-item.balance{
    margin-top: 15px;
    --padding-end:8px;
    --border-radius:8px;
   & >ion-label {
    margin: 16px 0;
       & >  h3{
    font-size: 16px;
    font-weight: 500;
   }
   &  > p{
    font-size: 14px;
    color: var(--ion-color-tertiary);
   }
}

}
.menu {
    padding: 0;
    margin-bottom: 20px;
    & > ion-row > ion-col > div{
        position: relative;
    text-align: center;
    background: #202934;
    border-radius: 8px;
    padding: 5px;
    min-height: 80px;

    & > h6{
        // margin-top:5px;
        font-size: 12px;
        width: 90%;
        text-align: left;
        position: absolute;
        bottom: 10px;
        margin: 0;
        word-spacing: 9999999px;
        font-weight: 600;
    }
    }
    & > ion-row > ion-col > div > span{
        padding: 5px;
        background: var(--ion-color-secondary-tint);
        border-radius: 50%;
        display: flex;
        width: -moz-fit-content;
        width: fit-content;
        position: absolute;
        right: 10px;
    
    }
}

.divider{
margin: 10px 0 !important;
}

.m-10{
    margin: 0 10px;
}
.pd-10{
    padding: 0 10px;
}
.pt-10{
    padding-top: 0 10px;
}
.pd-13{
    padding: 0 13px;
}

.verificationBanner{
    width: 100%;
    --border-radius:8px;
    --background: linear-gradient(135deg, #F72B2D 0%, #001C6E 100%);
    & > ion-label{
        & >h3{
            font-weight: 600;
        }
        & > p {
            color: #cfcbcb;
        }
    }
}

.swiper-cards{
    margin-bottom:0px
}