<ion-header class="ion-padding ion-no-border">
  <ion-toolbar mode="md">
    <ion-item class="profile" lines="none">
      <ion-avatar>
        <img src="../../../../assets/icon/Image 3.png" />
      </ion-avatar>
      <ion-label *ngIf="userData" >
        <h4>Hi, {{userData.firstname}}</h4>
        <p>{{userData.username}}</p>
      </ion-label>
    
    </ion-item>
    
    <div slot="end">
      <img class="notifyicon"  src="../../../../assets/icon/Notification.png">
    </div>
   
  
  </ion-toolbar>
  <ion-item button detail="false" lines="none"  class="balance">
    <ion-avatar slot="start" class="ion-avatar-default-icon">
      <ion-icon name="wallet"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h3 *ngIf="userBalance" >₦{{userBalance | currency}}</h3>
      <h3 *ngIf="!userBalance"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
      <p>Available Balance</p>
    </ion-label>

    <ion-button (click)="deposit()"  slot="end" class="ios button button-small button-solid ion-activatable ion-focusable hydrated"> Deposit </ion-button>
  </ion-item>
</ion-header>

<ion-content >
 

 

    <!-- <ion-list-header>
      <ion-label color="white">My accounts</ion-label>
    </ion-list-header> -->

    <!-- Skeletons -->
    <!-- <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="!content_loaded">
      <ion-item lines="none" *ngFor="let i of [].constructor(3);">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </ion-list> -->

    <!-- <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="content_loaded" lines="none">
      <ion-item button detail>
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="wallet"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>$71,648.13</h3>
          <p>Bank of America</p>
        </ion-label>
      </ion-item>
      <ion-item button detail>
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="logo-bitcoin"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>$64,155.21</h3>
          <p>Bitcoin</p>
        </ion-label>
      </ion-item>
      <ion-item button detail>
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="logo-paypal"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>$10,500.00</h3>
          <p>PayPal</p>
        </ion-label>
      </ion-item>
    </ion-list> -->

    <ion-grid  class="menu pd-10 pt-10">
      <ion-row >
        <ion-col size="3" (click)="send()">
          <div>
            <span><img width="15px" src="../../../../assets/icon/Send.png" alt="" srcset=""></span>
          <h6>Send Money</h6>
          </div>
          
        </ion-col>
        <ion-col size="3" (click)="buyAirtime()">
          <div>
            <span><img width="15px" src="../../../../assets/icon/Calling.png" alt="" srcset=""></span>
            <h6>Buy Airtime</h6>
          </div>
         
        </ion-col>
        <ion-col size="3" (click)="buyData()">
          <div>
            <span><img width="15px" src="../../../../assets/icon/Discovery.png" alt="" srcset=""></span>
          <h6>Buy Data</h6>
          </div>
          
        </ion-col>
        <ion-col size="3" (click)="buyCable()">
          <div>
            <span><img width="15px" src="../../../../assets/icon/Video.png" alt="" srcset=""></span>
            <h6>Buy CableTv</h6>
          </div>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" (click)="buyElectricity()">
          <div>
             <span><ion-icon name="bulb"></ion-icon></span>
          <h6>Buy Power</h6>
          </div>
         
        </ion-col>
        <ion-col size="3" (click)="buyBetting()">
          <div>
             <span><img width="15px" src="../../../../assets/icon/Send.png" alt="" srcset=""></span>
          <h6>TopUp Betting</h6>
          </div>
         
        </ion-col>
        <ion-col size="3" (click)="buyEducation()">
          <div>
             <span><ion-icon name="school"></ion-icon></span>
          <h6>Buy Education</h6>
          </div>
         
        </ion-col>
        <ion-col size="3">
          <div>
             <span><ion-icon name="card"></ion-icon></span>
          <h6>Virtual Cards</h6>
          </div>
         
        </ion-col>
      </ion-row>
    </ion-grid>

    <swiper class="swiper-cards pd-13" #swiper [config]="config" [pagination]="true">
      <ng-template swiperSlide>
        <ion-item button detail="false"  class="verificationBanner" lines="none">
          <ion-avatar slot="start" class="ion-avatar-default-icon">
            <ion-icon name="mail-unread"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>Verify email address</h3>
            <p>Verify your email to access <br> some  features</p>
          </ion-label>
      
          <ion-button (click)="verify()"  slot="end" class="ios button button-small button-solid ion-activatable ion-focusable hydrated"> Verify </ion-button>
        </ion-item>
        </ng-template>
        <ng-template swiperSlide>
          <ion-item button detail="false"  class="verificationBanner" lines="none">
            <ion-avatar slot="start" class="ion-avatar-default-icon">
              <ion-icon name="mail-unread"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>Verify email address</h3>
              <p>Verify your email to access <br> some  features</p>
            </ion-label>
        
            <ion-button (click)="verify()"  slot="end" class="ios button button-small button-solid ion-activatable ion-focusable hydrated"> Deposit </ion-button>
          </ion-item>
          </ng-template>
        </swiper>

    <!-- <hr class="divider"> -->

    <ion-list-header class="pd-10">
      <ion-label color="white">Recent transactions</ion-label>
      <ion-button *ngIf="content_loaded" routerLink="/payments">See All <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-list-header>

    <!-- Skeletons -->
    <ion-list class="list-custom animate__animated animate__fadeIn m-10" lines="full" *ngIf="!content_loaded">
      <ion-item *ngFor="let i of [].constructor(10);">
        <ion-label>
          <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
        </ion-label>
        <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>     
      </ion-item>
    </ion-list>

    <ion-list class="list-custom animate__animated animate__fadeIn m-10" lines="full" *ngIf="content_loaded">
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="school"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>School</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="danger" mode="ios" slot="end">- $8.60</ion-badge>        
      </ion-item>
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="business"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Salary</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="medium" mode="ios" slot="end">$8412.48</ion-badge>        
      </ion-item>
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="logo-amazon"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Samsung TV</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="danger" mode="ios" slot="end">- $1400.00</ion-badge>
      </ion-item>
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="school"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>School</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="danger" mode="ios" slot="end">- $8.60</ion-badge>        
      </ion-item>
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="business"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Salary</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="medium" mode="ios" slot="end">$8412.48</ion-badge>        
      </ion-item>
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="logo-amazon"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Samsung TV</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="danger" mode="ios" slot="end">- $1400.00</ion-badge>
      </ion-item>
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="logo-amazon"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Samsung TV</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="danger" mode="ios" slot="end">- $1400.00</ion-badge>
      </ion-item>
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="school"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>School</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="danger" mode="ios" slot="end">- $8.60</ion-badge>        
      </ion-item>
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="business"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Salary</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="medium" mode="ios" slot="end">$8412.48</ion-badge>        
      </ion-item>
      <ion-item button detail="false" (click)="viewTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="logo-amazon"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Samsung TV</h3>
          <p>04 Feb. 2022 - 12:30pm</p>
        </ion-label>
        <ion-badge color="danger" mode="ios" slot="end">- $1400.00</ion-badge>
      </ion-item>
    </ion-list>

    <!-- Loading spinner -->
  <!-- <ion-row class="spinner-container ion-justify-content-center ion-align-items-center">
    <ion-spinner name="crescent" color="medium"></ion-spinner>
  </ion-row> -->

    <!-- <ion-button routerLink="/styleguide">
     Style guide
    </ion-button>

    <br><br><br>

    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

    <br>

    <p class="animate__animated animate__fadeIn">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum cum ea repudiandae temporibus optio accusantium non! Autem ex quia architecto quod nostrum nam ipsa tempora? Obcaecati nobis numquam provident doloribus!</p>

    <ion-text color="medium">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit exercitationem deserunt tempora ratione, natus mollitia praesentium doloribus iure veritatis. Deserunt delectus impedit vitae suscipit illo laborum hic rerum recusandae.</p>
    </ion-text>

    <ion-text color="medium">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit exercitationem deserunt tempora ratione, natus mollitia praesentium doloribus iure veritatis. Deserunt delectus impedit vitae suscipit illo laborum hic rerum recusandae.</p>
    </ion-text>

    <ion-text color="medium">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit exercitationem deserunt tempora ratione, natus mollitia praesentium doloribus iure veritatis. Deserunt delectus impedit vitae suscipit illo laborum hic rerum recusandae.</p>
    </ion-text>

    <ion-text color="medium">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea suscipit exercitationem deserunt tempora ratione, natus mollitia praesentium doloribus iure veritatis. Deserunt delectus impedit vitae suscipit illo laborum hic rerum recusandae.</p>
    </ion-text> -->

  

</ion-content>