<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"> Back</ion-button>
    </ion-buttons>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    
    <ion-list-header class="ion-list-header-small">
      <ion-label>Information</ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full" *ngIf="transaction.action=='AIRTIME' || transaction.action=='DATA'"   id="capture">
      <ion-item>
        <ion-label>
          <p>Status</p>
        </ion-label>
        <ion-badge *ngIf="transaction.extra.status=='completed'"  color="success" mode="ios" slot="end">{{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='failed'" color="danger" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='pending'" color="warning" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Service</p>
        </ion-label>
        <p class="detail">{{transaction.extra.name}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Phone Number</p>
        </ion-label>
        <p class="detail">{{transaction.extra.biller_code}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Date</p>
        </ion-label>
        <p class="detail">{{formatTime(transaction.created_at)}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.amount}}</ion-badge>
      </ion-item>
     
      <ion-item>
        <ion-label>
          <p>Fee</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.fee}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.fee}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Total Amount</p>
        </ion-label>
        
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.total_amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.total_amount}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Transaction ID</p>
        </ion-label>
        <p class="detail">{{transaction.extra.transaction_id}}</p>
      </ion-item>

    </ion-list>


    <ion-list class="list-custom" lines="full" *ngIf="transaction.action=='ELECTRICITY'"   id="capture">
      <ion-item>
        <ion-label>
          <p>Status</p>
        </ion-label>
        <ion-badge *ngIf="transaction.extra.status=='completed'"  color="success" mode="ios" slot="end">{{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='failed'" color="danger" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='pending'" color="warning" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Service</p>
        </ion-label>
        <p class="detail">{{transaction.extra.name}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Meter Number</p>
        </ion-label>
        <p class="detail">{{transaction.extra.biller_code}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Token</p>
        </ion-label>
        <p class="detail">{{transaction.extra.token}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Unit</p>
        </ion-label>
        <p class="detail">{{transaction.extra.unit}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Date</p>
        </ion-label>
        <p class="detail">{{formatTime(transaction.created_at)}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.amount}}</ion-badge>
      </ion-item>
     
      <ion-item>
        <ion-label>
          <p>Fee</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.fee}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.fee}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Total Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.total_amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.total_amount}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Transaction ID</p>
        </ion-label>
        <p class="detail">{{transaction.extra.transaction_id}}</p>
      </ion-item>

    </ion-list>

  

    <ion-list class="list-custom" lines="full" *ngIf="transaction.action=='CABLE'"   id="capture">
      <ion-item>
        <ion-label>
          <p>Status</p>
        </ion-label>
        <ion-badge *ngIf="transaction.extra.status=='completed'"  color="success" mode="ios" slot="end">{{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='failed'" color="danger" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='pending'" color="warning" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Service</p>
        </ion-label>
        <p class="detail">{{transaction.extra.name}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Decoder Number</p>
        </ion-label>
        <p class="detail">{{transaction.extra.biller_code}}</p>
      </ion-item>


      <ion-item>
        <ion-label>
          <p>Date</p>
        </ion-label>
        <p class="detail">{{formatTime(transaction.created_at)}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.amount}}</ion-badge>
      </ion-item>
     
      <ion-item>
        <ion-label>
          <p>Fee</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.fee}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.fee}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Total Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.total_amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.total_amount}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Transaction ID</p>
        </ion-label>
        <p class="detail">{{transaction.extra.transaction_id}}</p>
      </ion-item>

    </ion-list>


    <ion-list class="list-custom" lines="full" *ngIf="transaction.action=='EDUCATION'"   id="capture">
      <ion-item>
        <ion-label>
          <p>Status</p>
        </ion-label>
        <ion-badge *ngIf="transaction.extra.status=='completed'"  color="success" mode="ios" slot="end">{{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='failed'" color="danger" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='pending'" color="warning" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Service</p>
        </ion-label>
        <p class="detail">{{transaction.extra.name}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>REG Number</p>
        </ion-label>
        <p class="detail">{{transaction.extra.biller_code}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>REG Number</p>
        </ion-label>
        <p class="detail">{{transaction.extra.token}}</p>
      </ion-item>


      <ion-item>
        <ion-label>
          <p>Date</p>
        </ion-label>
        <p class="detail">{{formatTime(transaction.created_at)}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.amount}}</ion-badge>
      </ion-item>
     
      <ion-item>
        <ion-label>
          <p>Fee</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.fee}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.fee}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Total Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.total_amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.total_amount}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Transaction ID</p>
        </ion-label>
        <p class="detail">{{transaction.extra.transaction_id}}</p>
      </ion-item>

    </ion-list>



    <ion-list class="list-custom" lines="full" *ngIf="transaction.action=='BETTING'"   id="capture">
      <ion-item>
        <ion-label>
          <p>Status</p>
        </ion-label>
        <ion-badge *ngIf="transaction.extra.status=='completed'"  color="success" mode="ios" slot="end">{{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='failed'" color="danger" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='pending'" color="warning" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Service</p>
        </ion-label>
        <p class="detail">{{transaction.extra.name}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Bettor Number</p>
        </ion-label>
        <p class="detail">{{transaction.extra.biller_code}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Bettor Name</p>
        </ion-label>
        <p class="detail">{{transaction.extra.biller_name}}</p>
      </ion-item>


      <ion-item>
        <ion-label>
          <p>Date</p>
        </ion-label>
        <p class="detail">{{formatTime(transaction.created_at)}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.amount}}</ion-badge>
      </ion-item>
     
      <ion-item>
        <ion-label>
          <p>Fee</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.fee}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.fee}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Total Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.total_amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.total_amount}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Transaction ID</p>
        </ion-label>
        <p class="detail">{{transaction.extra.transaction_id}}</p>
      </ion-item>

    </ion-list>




    <ion-list class="list-custom" lines="full" *ngIf="transaction.action=='LOCAL_BANK_TRANSFER' || transaction.action =='LOCAL_FUND_TRANSFER'"   id="capture">
      <ion-item>
        <ion-label>
          <p>Status</p>
        </ion-label>
        <ion-badge *ngIf="transaction.extra.status=='completed'"  color="success" mode="ios" slot="end">{{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='failed'" color="danger" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
        <ion-badge *ngIf="transaction.extra.status=='pending'" color="warning" mode="ios" slot="end"> {{transaction.extra.status}}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Receiver Bank</p>
        </ion-label>
        <p class="detail">{{transaction.extra.bank_name}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Receiver ID</p>
        </ion-label>
        <p class="detail">{{transaction.extra.account_number}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Receiver Name</p>
        </ion-label>
        <p class="detail">{{transaction.extra.account_name}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Narration</p>
        </ion-label>
        <p class="detail">{{transaction.extra.narration}}</p>
      </ion-item>


      <ion-item>
        <ion-label>
          <p>Date</p>
        </ion-label>
        <p class="detail">{{formatTime(transaction.created_at)}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.amount}}</ion-badge>
      </ion-item>
     
      <ion-item>
        <ion-label>
          <p>Fee</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.fee}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.fee}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Total Amount</p>
        </ion-label>
        <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.extra.total_amount}}</ion-badge>
        <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.extra.total_amount}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Transaction ID</p>
        </ion-label>
        <p class="detail">{{transaction.extra.transaction_id}}</p>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Session ID</p>
        </ion-label>
        <p class="detail">{{transaction.extra.session_id}}</p>
      </ion-item>

    </ion-list>


<ion-list class="list-custom" lines="full" *ngIf="transaction.action=='VIRTUAL_CARD' || transaction.action =='FUND_VIRTUAL_CARD' || transaction.action =='WITHDRAW_VIRTUAL_CARD' || transaction.action == 'REFERRAL_EARNING' || transaction.action == 'FLUTTERWAVE' || transaction.action == 'DEPOSIT'"   id="capture">

<ion-item>
  <ion-label>
    <p>Status</p>
  </ion-label>
  <ion-badge *ngIf="transaction.status=='COMPLETED'"  color="success" mode="ios" slot="end">{{transaction.status}}</ion-badge>
  <ion-badge *ngIf="transaction.status=='FAILED'" color="danger" mode="ios" slot="end">{{transaction.status}}</ion-badge>
  <ion-badge *ngIf="transaction.status=='PENDING'" color="warning" mode="ios" slot="end">{{transaction.status}}</ion-badge>
</ion-item>

<ion-item>
  <ion-label>
    <p>Description</p>
  </ion-label>
  <p class="detail">{{transaction.description}}</p>
</ion-item>


  <ion-item>
    <ion-label>
      <p>Date</p>
    </ion-label>
    <p class="detail">{{formatTime(transaction.created_at)}}</p>
  </ion-item>
  <ion-item>
  <ion-label>
    <p>Total Amount</p>
  </ion-label>
  <ion-badge *ngIf="transaction.type=='DEBIT'"  color="danger" mode="ios" slot="end">- ₦{{transaction.amount}}</ion-badge>
  <ion-badge *ngIf="transaction.type=='CREDIT'" color="success" mode="ios" slot="end"> ₦{{transaction.amount}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label>
    <p>Transaction ID</p>
  </ion-label>
  <p class="detail">{{transaction.reference}}</p>
</ion-item>

</ion-list>
    <hr class="hr-medium">

    <ion-list-header class="ion-list-header-small">
      <ion-label>Actions</ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="primary" name="receipt"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Download Receipt</h3>
          <p class="font-size-smallest">Download digital invoice</p>
        </ion-label>
        <ion-button slot="end" (click)="capture()">
          Download
        </ion-button>
      </ion-item>
      <ion-item button (click)="reportTransaction()">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Report Transaction</h3>
          <p class="font-size-smallest">Report an issue with this payment</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>