<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cards">
      <ion-icon name="card"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>

    <!-- Placeholder for fab button -->
    <ion-tab-button class="ion-tab-button-placeholder">
    </ion-tab-button>


    <ion-tab-button tab="payments">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>Schedules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>

  <ion-fab class="ion-fab-custom" vertical="bottom" horizontal="center" slot="fixed" (click)="selectAction()">
    <ion-fab-button>
      <ion-icon name="send" class="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-tabs>