<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"> Back</ion-button>
    </ion-buttons>
    <ion-title>
      Deposit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <ion-list-header class="ion-list-header-small">
      <ion-label>Bank 1</ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item>
        <ion-label>
          <p>Bank Name</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="Access Bank"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Account Name</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="John Philip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Account Number</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="01265451234"></ion-input>
      </ion-item>
     
    </ion-list>

    <hr class="hr-medium">

    <ion-list-header class="ion-list-header-small">
      <ion-label>Bank 2</ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item>
        <ion-label>
          <p>Bank Name</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="Access Bank"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Account Name</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="John Philip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Account Number</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="01265451234"></ion-input>
      </ion-item>
     
    </ion-list>

    <hr class="hr-medium">



    <ion-list-header class="ion-list-header-small">
      <ion-label>Alternatives</ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item detail="true">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="primary" name="card"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Deposit by card</h3>
          <p class="font-size-smallest">Fund your wallet using your debit card</p>
        </ion-label>
       
      </ion-item>
      <ion-item button>
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="primary" name="keypad-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Deposit by USSD</h3>
          <p class="font-size-smallest">Fund your wallet using USSD.</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>