<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"> Back</ion-button>
    </ion-buttons>
    <ion-title> Verifications </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list-header class="ion-list-header-small mb-20 ion-padding-bottom">
      <ion-label
        >Complete your verifications on PayPaddi to increase your daily and
        monthly transaction limits, enable you access more features as well as
        helping us know you better.</ion-label
      >
    </ion-list-header>
    <ion-list class="list-custom" lines="full">
      <ion-item lines="full" button detail="false" class="balance">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="mail"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Email Verification</h3>
          <p>Verify email</p>
        </ion-label>

        <ion-button
          slot="end"
          *ngIf="userData?.is_email_verify"
          class="verified ios button button-small button-solid ion-activatable ion-focusable hydrated"
        >
          Verified
        </ion-button>
        <ion-button
          *ngIf="!userData?.is_email_verify"
          (click)="verifyEmail()"
          slot="end"
          class="unverified ios button button-small button-solid ion-activatable ion-focusable hydrated"
        >
          Verify
        </ion-button>
      </ion-item>
      <ion-item lines="full" button detail="false" class="balance">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="mail"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>BVN Verification</h3>
          <p>Verify bvn</p>
        </ion-label>

        <ion-button
          *ngIf="userData?.is_kyc1_verify"
          slot="end"
          class="verified ios button button-small button-solid ion-activatable ion-focusable hydrated"
        >
          Verified
        </ion-button>
        <ion-button
          *ngIf="!userData?.is_kyc1_verify"
          (click)="verifyBVN()"
          slot="end"
          class="unverified ios button button-small button-solid ion-activatable ion-focusable hydrated"
        >
          Verify
        </ion-button>
      </ion-item>
      <ion-item lines="full" button detail="false" class="balance">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="mail"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>ID Verification</h3>
          <p>Verify identity</p>
        </ion-label>

        <ion-button
          *ngIf="userData?.is_kyc2_verify"
          slot="end"
          class="verified ios button button-small button-solid ion-activatable ion-focusable hydrated"
        >
          Verified
        </ion-button>
        <ion-button
          *ngIf="!userData?.is_kyc2_verify"
          (click)="verifyID()"
          slot="end"
          class="unverified ios button button-small button-solid ion-activatable ion-focusable hydrated"
        >
          Verify
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
