<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"> Back</ion-button>
    </ion-buttons>
    <ion-title>
      Card Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <ion-list-header class="ion-list-header-small">
      <ion-label>Card Details</ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item>
        <ion-label>
          <p>Billing Address</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="32, fremore street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>City/region</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="San francesco"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Zip code</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="94105"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Card type</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="Dollar virtual card"></ion-input>
      </ion-item>
     
    </ion-list>

    

  </div>

</ion-content>