ion-datetime{
    margin: 20px auto;
    border-radius: 20px;
}

:host{
    .datetime-time{
        display: none;
    }

} 

ion-list{
   background: transparent !important;
}
ion-item{
    margin-top: 20px;
    --padding-top:10px;
    --padding-bottom:10px;
    --border-radius:8px !important;
}

ion-button{
    width: 95%;
    margin: 30px auto;
    // margin-bottom: 20px;
}