<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
    
    <ion-title  >
      Payments
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >

  <div class="ion-padding">

    <!-- Skeletons -->
    <ng-container *ngIf="!transactions">

      <ion-list-header class="ion-list-header-small">
        <ion-label><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-label>
        <ion-note color="tertiary" class="ion-note-small">
          <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
        </ion-note>
      </ion-list-header>
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item button detail="false" *ngFor="let i of [].constructor(12);">
          <ion-avatar slot="start" class="ion-avatar-default-icon">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
            <p><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></p>
          </ion-label>
          <ion-skeleton-text slot="end" animated style="width: 15%"></ion-skeleton-text>
        </ion-item>
      </ion-list>

    </ng-container>

    <ng-container *ngIf="transactions">

      <!-- <ion-list-header class="ion-list-header-small">
        <ion-label>June, 2022</ion-label>
        <ion-note color="tertiary" class="ion-note-small" *ngIf="transactions.currency=='USD'" >${{transactions.amount+transactions.fee}}</ion-note>
        <ion-note color="tertiary" class="ion-note-small" *ngIf="transactions.currency=='NGN'" >₦{{transactions.amount+transactions.fee}}</ion-note>
      </ion-list-header> -->
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item button detail="false"  routerLink="detail" *ngFor="let transaction of transactions" >
          <ion-avatar slot="start" class="ion-avatar-default-icon">
            <ion-icon name="card"></ion-icon>
          </ion-avatar>
          <ion-label class="detail">
            <h3>{{transaction.gateway_reference_details}}</h3>
            <p>{{transaction.product}}</p>
          </ion-label>
          <ion-badge [color]="transaction.indicator=='D'?'danger':'success'" mode="ios" slot="end" *ngIf="transaction.currency=='NGN'" ><span *ngIf="transaction.indicator=='D'" >-</span> ₦{{transaction.amount+transaction.fee | currency}}</ion-badge>
          <ion-badge [color]="transaction.indicator=='D'?'danger':'success'" mode="ios" slot="end" *ngIf="transaction.currency=='USD'" ><span *ngIf="transaction.indicator=='D'" >-</span> ${{transaction.amount+transaction.fee | currency}}</ion-badge>
        </ion-item>
       
       
      </ion-list>
  
     
    </ng-container>

  </div>

</ion-content>